@import '~@fortawesome/fontawesome-free/css/all.css';

.transparent-table {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Set background color with 50% opacity */
   
    color: white; /* Set text color to white */
}

.transparent-table th,
.transparent-table td {
    border: none !important; /* Remove cell borders */
}

.transparent-table th {
    background-color: #008080; /* Header background color */
    color: white; /* Header text color */
}

.transparent-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Highlight row on hover */
}
.white-text {
    color: white;
    /* Sets the text color to white */
}


.navbar {
    background-color: transparent; /* Make the navbar transparent */
    transition: background-color 0.3s; /* Smooth transition on hover */
    display: flex; /* Use flexbox to center content horizontally */
    justify-content: center;}

.navbar-brand {
    font-family: 'Arial', sans-serif; /* Change the font family */
    font-size: 24px; /* Change the font size */
    font-weight: bold;
    color: #008080;
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing */
    margin-right: 20px; /* Add right margin for spacing */
    transition: transform 0.3s, color 0.3s; /* Add animation transitions */
    }

/* Add a hover effect */
.navbar-brand:hover {
    transform: scale(1.05);
    /* Enlarge the text on hover */
    color: #4787ff;
    /* Change the text color on hover */
}

.transparent-table .btn-edit {
    background-color: #28a745; /* Green background color for Edit button */
}

.transparent-table .btn-edit:hover {
    background-color: #1e7e34; /* Darker green on hover */
}

.transparent-table .btn-delete {
    background-color: #dc3545; /* Red background color for Delete button */
}

.transparent-table .btn-delete:hover {
    background-color: #c82333; /* Darker red on hover */
}


/* Fade-in animation */
.logout-button {
    background-color: #ff4500;
    color: white;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out,transform 0.3s;
  }
  
  .logout-button:hover {
    opacity: .85;
    background-color:#1e7e34;
    transform: scale(1.1);
  }

  /* Define the animation keyframes */
@keyframes rotateIcon {
    0% {
      transform: rotate(0deg) scale(1) color(#000);
    }
    50% {
      transform: rotate(180deg) scale(1.2) color(#ff4500);
    }
    100% {
      transform: rotate(360deg) scale(1) color(#000);
    }
  }
  
  /* Apply the animation to the icon on hover */
  .book-icon-animation {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .book-icon-animation:hover {
    animation: rotateIcon 2s infinite; /* Apply the animation */
  }
  

  /* UserHome.css */
.user-home-container {
  background-image: url('../utils/images/userHome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh; /* Adjust the height as needed */
  overflow: auto; /* Allow content to be scrolled over the background */
}

/* Define styles for custom buttons */
.custom-button {
  background-color: #008080;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px; /* Add margin between buttons */
  transition: transform 0.2s; /* Add a transform animation on hover */
}

.custom-button:hover {
  transform: scale(1.1); /* Increase the size of the button on hover */
}

/* Define styles for custom links */
.custom-link {
  text-decoration: none; /* Remove underline from links */
  margin-right: 10px; /* Add margin between links and buttons */
}

.expanded-card {
  height: auto;
  overflow: visible;
  transition: height 0.3s ease; /* Add smooth transition animation */
}
